@font-face {
  font-family: 'Exmouth';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/exmouth.woff2');
  src: url('../fonts/exmouth.woff2') format('woff2'),
       url('../fonts/exmouth.woff') format('woff'),
       url('/fonts/exmouth.ttf') format('truetype');
}